<!-- blog/article.html 
    display a single article on this web page
-->
{% extends 'blog/base.html' %}

{% block content %}
<h1>{{article.title}}</h1>

<main class="grid-container">
    <article class="featured">
        <!-- <img src="{{article.image_url}}" alt=""> -->
        {% if article.image_file %}
        <img src="{{article.image_file.url}}" alt="">
        {% else %}
        <h3>No image</h3>
        {% endif %}
        <div>
            <h2>{{article.title}}</h2>
            <h3>by {{article.author}} at {{article.published}}</h3>
            <p>
                {{article.text}}
            </p>
            <!-- update this article -->
            <h3>
            <a href="{% url 'update_article' article.pk %}">Update this article</a>
	        </h3>
        </div>

    </article>
    
    <div>
        <h2>Comments</h2>
        <h3>
            <a href="{% url 'create_comment' article.pk %}">Create a comment</a>
        </h3>
        <!-- Display the comments about this article -->
        <!-- {{article.get_all_comments}} -->
        {% for c in article.get_all_comments %}
        <article>
            <div>
            <strong>by {{c.author}} at {{c.published}}</strong>
            <p>
            {{c.text}}
            <a href="{% url 'delete_comment' c.pk %}">Delete</a> <!-- NEW -->
            </div>
        </article>
        {% endfor %}
    </div>

</main>
{% endblock %}