<!-- 
    File: mini_fb/templates/mini_fb/create_profile_form.html
    Author: Sam Bridgman
    Email: bridgman@bu.edu
    Description: Displays the HTML form for creating a profile
-->

{% extends 'mini_fb/base.html' %}
{% block content %}
  <h2>Create Your Profile</h2>
  <form method="post">
    {% csrf_token %}

    <h3>Account Info</h3>
    {{ user_form.as_p }}

    <h3>Profile Info</h3>
    {{ form.as_p }}

    <button type="submit">Create Account & Profile</button>
  </form>
{% endblock %}
