<!-- 
    File: mini_fb/templates/mini_fb/show_profile.html
    Author: Sam Bridgman
    Email: bridgman@bu.edu
    Description: Profile page template for Mini FB. Displays user information including 
    profile image, name, and city.
-->
{% extends 'mini_fb/base.html' %}

{% block content %}
<main class="profile-container">
    <div class="profile-card">
        {% if profile.profile_image_url %}
        <img src="{{ profile.profile_image_url }}" alt="Profile Image" class="profile-image">
        {% endif %}
        <h1 class="profile-name">{{ profile.first_name }} {{ profile.last_name }}</h1>
        <p class="profile-city">{{ profile.city }}</p>
        <p class="profile-city">{{ profile.email }}</p>
        <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
    </div>

</main>

    <!-- Status Messages Section -->
    <a href="{% url 'create_status' profile.pk %}">Create a comment</a>
    <section class="status-section">
        <h2 class="status-header">Status Messages</h2>
        <div class="status-message-container">
            {% for status_message in profile.statusmessage_set.all %}
            <div class="status-message">
                <span class="status-timestamp">{{ status_message.timestamp }}</span>
                <p class="status-text">{{ status_message.message }}</p>
                <a href="{% url 'delete' status_message.pk %}">Delete Message</a>
                <a href="{% url 'update_status' status_message.pk %}">Update Message</a>
                {% for img in status_message.get_images %}
                    <img src="{{ img.image_file.url }}" alt="{{ img.caption }}" style="height:100px; width:100px;">
                {% endfor %}
            </div>
        {% endfor %}

        </div>
    </section>
{% endblock %}


