{% extends 'formdata/base.html' %}

{% block content %}

<div class="homepage">

    <h1>Welcome to Grubby's Den</h1>
    <div class="banner">Where We Break All UI/UX Laws</div>
    <br>
    <p>Located at GrubVille USA</p>

    <h3>Our Hours</h3>
    <ul>
        <li>Monday: 9am-10pm</li>
        <li>Tuesday: 9am-10pm</li>
        <li>Wednesday: 9am-10pm</li>
        <li>Thursday: 9am-10pm</li>
        <li>Friday: 9am-12am</li>
        <li>Saturday: 9am-12am</li>
        <li class="sunday">Sunday: Closed (Grubbed too hard!!)</li>
    </ul>
    
    <br>

    <a href="https://ibb.co/0pf1s07g">
        <img src="https://i.ibb.co/9mqBZxDF/restuarent.jpg" alt="restaurant">
    </a>
    <br><br />
</div>
{% endblock %}
